[submodule "Lavendel/vendor/spdlog"]
	path = Lavendel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lumen/vendor/spdlog"]
	path = Lumen/vendor/spdlog
	url = https://github.com/gabime/spdlog
