name: Build and Test

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Setup Vulkan SDK
      uses: lunarg/setup-vulkan-sdk@v1
      with:
        vulkan-query-version: 1.3.268.0

    - name: Run Setup Script
      env:
        CI: 'true'
      run: python Scripts/Setup.py
      
    - name: Configure CMake
      run: cmake . -B build

    - name: Build Project
      run: cmake --build build --config Release
